<% provide(:title, 'Contact Us')  %>
    <h1>Contact Us</h1>
    <p>
      Contact Details : ashish.sadh@internvilla.com<br>
      <a href="Mailto:ashish.sadh@naukri.com">Click here to drop me a mail</a>.
      <br>
      <a href="http://facebook.com/ashish.sadh">Way to my FB page</a>.
    </p>

