<% provide(:title, 'Contact Us')  %>
    <h1>Contact Us</h1>
    <p>
      Contact me on ashish.sadh007@gmail.com
      <a href="Mailto:ashish.sadh007@gmail.com">Click here to drop me a mail</a>.
      To knwo more about me you can and should visit my FB page
      <a href="http://facebook.com/ashish.sadh">Way to my FB page</a>.
    </p>

