<div class="center hero-unit">
  <h1>Better than Humantra</h1>

  <h2>
    Humanly manage your accounts....
    <a href="http://naukri.com">Launching Soon</a>
    .....
  </h2>

  <%= link_to "Sneak Preview Now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("naukri.jpeg", alt: "Naukri.com"), 'http://naukri.com' %>
