<% provide(:title, 'Sign up') %>
<h1> Work in progress</h1>
<p>Can't you wait outside, I am working.</p>

<!-- <%= link_to image_tag("045.JPG", alt: "Who is that?"), 'http://facebook.com/ashish.sadh' %> -->
<!--<p>Find me in app/views/users/new.html.erb</p> -->
